.homestudies {
  background-color: var(--black);
  color: var(--white);
}

.homestudies .row-custom {
  height: 50vh;
}

.homestudies .container {
  text-align: center;
}

.homestudies h2 {
  font-size: 3rem;
  font-weight: bold;
}

.homestudies .card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2rem;
}

.homestudies .card {
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
  float: left;
  border: none;
  background: none;
}

.homestudies .card .card-body {
  padding: 4rem;
  border-radius: 2rem;
  background-color: #f9f9f9;
  transition: 0.3s ease-in;
}

.homestudies .card .card-body:hover {
  box-shadow: 0px 3px 40px -4px rgba(255, 255, 255, 0.756);
}

.homestudies .card h5 {
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .homestudies .card h5 {
    font-size: 1.5rem;
  }
}
