.navback {
  margin: 0;
  padding: 0;
}

.wrap-content {
  margin: 0;
  padding: 0;
}

.navback .row-custom {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 10vh;
}

.navback .btn-custom {
  padding: 1rem 4rem;
  font-weight: bold;
  border: none;
  background-color: var(--black);
  color: var(--white);
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

.navback .btn-custom:hover {
  background-color: rgb(77, 77, 77);
}

.wrap-content h5 {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}
