@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");

:root {
  --black: #1d1d1d;
  --white: #fff;
  --mos-green: #7a7252;
  --light-color: #666;
  --dark-bg: #222222;
  --light-bg: #eee;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Montserrat", sans-serif;

  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

html {
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 7rem 2rem;
}

.row {
  height: 80vh;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 5rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
